/* Responsive adjustments */
/*
@media screen and (min-width: 2500px) {
    body {
        font-size: 28px;
    }

    .logo {
        height: 70px;
    }

    .logo-btn {
        width: 60px;
        height: 60px;
    }

    .leftCOntainer {
        margin-right: 80px;
    }

    .card-button {
        width: 80px;
        height: 80px;
    }

    .containercards {
        width: 60%;
    }

    .hr-finance {
        width: 85%;
        margin: 0 0 0 80px;

    }

    .rightcard p {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .rightcard button {
        font-size: 1.8rem;
    }

    .document-image {
        width: 35%;
        height: 20vh;
        object-fit: cover;
        margin: 0 20px;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .lastHeading {
        padding: 0 0 30px 20px;
        width: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .subHeading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .app {
        font-size: 3rem;
    }

    .help {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .open-btn,
    .download-btn {
        font-size: 1.5rem;
    }

    .footer-content {
        max-width: 1500px;
    }
}*/

@media screen and (max-width: 1400px) {

    .cont-img,
    .cards-cont {
        width: 90%;
        margin: 20px 0;
    }

    .cont-main {
        display: flex;
        margin: 5px;
        flex-direction: column;
        align-items: center;
    }

}



@media screen and (max-width: 1200px) {

    .containerThird,
    .containerlast {
        width: 95%;
    }

    .cards-cont {
        padding: 0;
    }

    .hr-finance {
        margin: 0;
    }

    .cont-main {
        display: flex;
        margin: 5px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 992px) {
    .body {
        font-size: 20px;
    }

    .navEle a {
        font-size: 0.8rem;
    }

    .cont-main {
        flex-direction: column;
        align-items: center;
    }

    .rightToleft {
        width: 100%;
        font-size: 2rem;
    }

    /* .cont-img,
    .cards-cont {
        width: 90%;
        margin: 20px 0;
    } */

    #cards-container {
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0;
    }



    .imagecardnew,
    .rightcard {
        width: 100%;
        padding: 10px 10px;
    }


    .card {
        /* width: calc(50% - 20px); */
        margin: 10px;
        height: 180px;
    }

    .containerThird {
        flex-direction: column;
    }

    .leftCOntainer,
    .rightCOntainer {
        width: 90%;
        margin: 20px auto;
    }

    .hr-finance {
        width: 80%;

    }

    .containerlast {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .main {
        margin-bottom: 5rem;
    }

    .btn-hidden {
        display: block;
    }

    .nav-items {
        margin-left: 0;
    }

    .navEL {
        /* opacity: 0;
        flex-direction: column;
        align-items: center; */
        display: none;
    }

    .navEle {
        margin: 15px 0;
    }

    .background {
        width: 80%;
    }

    .leftToright,
    .rightToleft {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.8rem;
        right: 0;
    }

    .containerformaincard {
        bottom: -500px;
        opacity: 0;
    }

    .heading {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    /* .rightcard {
        margin: 15px 0;
    } */

    .newcard {
        flex-direction: column;
        padding: 0;
    }

    .subHeading {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .lastHeading {
        width: 90%;
        margin: 70px 0 0 0;
    }

    .card {
        width: 40%;
    }


    .footer-flex {
        justify-content: space-between;
        width: 300px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-bottom {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: small;
    }

    .main {
        margin-bottom: 3rem;
    }



    .logo {
        height: 30px;
    }

    .logo-cont {
        align-items: flex-start;
    }

    .section {
        padding: 2rem 0;
    }

    .lastHeading {
        margin: 70px auto 0 auto;
    }


    .card {
        width: 100%;
        height: 17vh;
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin: 10px 0;
    }

    .cards-cont {
        margin: 0;
    }


    .help {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .document-content {
        align-items: center;
    }

    .cont {
        align-items: center;
    }

    .document-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .document-image {
        margin: 0 0 20px 0;
        width: 80%;

    }

    .containerThird {

        padding-bottom: 2rem;
    }

    .hr-finance {
        display: block;
        font-size: 0.9rem;
    }

    .containercards {
        padding: 10px 0;
        width: 95%;
    }

    .continner {
        padding: 0 25px;
    }

    .leftCOntainer,
    .rightCOntainer {
        width: 90%;
        margin: 10px auto;
    }

}